.qualities { 
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .hide__title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip:rect(0000);
    overflow: hidden;
  }
  .qualities-icon {
    width: 270px;
    height: 120px;
    background-color: var(--button-page-background);
    margin-bottom: 30px;
    justify-content: center;
    @extend %flex-align;
  }
  .qualities-icon-images {
  width: 70px;
  height: 70px;
  }
  
  
  .qualities-list {
    display: flex;
    flex-basis: calc(100% - 120px)/4;
     margin-right: -30px;
  }
  
  .qualities-list .qualities-item:not(:last-child){
  margin-right: 30px;
  }
  .qualities-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-header-color);
    margin-bottom: 10px;
  }
  .qualities-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
  }